.Description
  border-bottom 1px solid black_border
  margin 1em auto
  padding .4em

  .description-username
    margin .5em 0
    color black_title

  .description-image
    margin 0 auto
    width 100%
    img
      width 100%

  .description-text
    color black_text
    text-align justify

// comments content
.Comments
  margin 0 auto

.comments-entry
  padding .2em
  border-bottom 1px solid black_border
  textarea
    border-radius 2px
    color black_text
    display inline-block
    width calc(70% - .6em)
  .btn-send
    float right
    width 30%

.comment
  overflow hidden
  margin .5em 0
  padding .2em
  border-bottom 1px solid black_border
  .comment-text
    color black_text
    margin 0
  .comment-created
    margin .4em 0
