{% extends "base.html" %}

{% load staticfiles %}

{% load mention %}

{% block title %}
  {{ object.text|truncatechars:30 }}
{% endblock %}

{% block content %}
<div class="content-flex">
  <section class="Description colum-2">
    <div class="header">
      <div class="username">
        {% if object.user.photo %}
          <span class="photo photo-small float-right" style="background-image: url('{{ object.user.photo.url }}')"></span>
        {% else %}
          <span class="photo photo-small float-right" style="background-image: url({% static "image/profile.jpg" %})"></span>
        {% endif %}
        <span><a href="{% url 'users:detail' object.user.username %}">{{ object.user.username }}</a></span>
      </div>
      <p class="date">
        {{ object.created_at }}
      </p>
    </div>
    <figure class="description-image">
      {% if object.photo %}
        <img src="{{ object.photo.url }}" alt="{{ object.text }}" width="420" />
      {% else %}
        <img src="http://placehold.it/400x300" alt="{{ object.text }}" width="420" height="480" />
      {% endif %}
    </figure>
    <p class="description-text">
      {{ object.text }}
    </p>
  </section>
  <section class="Comments colum-2">
    <div class="header">
      <div class="username">
        {% if request.user.photo %}
          <span class="photo photo-small float-right" style="background-image: url({{ request.user.photo.url }})"></span>
        {% else %}
          <span class="photo photo-small float-right" style="background-image: url({% static "image/profile.jpg" %})"></span>
        {% endif %}
        <span><a href="{% url 'users:detail' request.user.username %}">{{ request.user.username }}</a></span>
      </div>
    </div>
    <div class="comments-entry">
      <textarea data-id="{{ object.id }}" id="comment" name="comment" rows="2" cols="40"></textarea>
      <button class="btn btn-send" id="btn_send" type="button">Send</button>
    </div>
    <div class="comments-box" id="comments">
      {% for comment in comments %}
          <article class="comment">
            <p class="username">
              <strong><a href="{% url 'users:detail' comment.user.username %}">{{ comment.user }}</a></strong>
            </p>
            <p class="comment-text">
              {{ comment.text|mention|safe|urlize }}
            </p>
            <p class="date comment-created">
              {{ comment.created_at }}
            </p>
          </article>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}

{% block javascript %}
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script>
$(document).ready(() => {

  const socket = io.connect('localhost:3000');

  socket.on('connect', () => {
    console.log("connect");
  });

  const entry_el = $('#comment');
  const btn_send = document.getElementById('btn_send')
  // focus set
  entry_el.focus();

  socket.on('message', (message) => {
    //Escape HTML characters
    // var data = message.replace(/&/g,"&amp;").replace(/</g,"&lt;").replace(/>/g,"&gt;");

    //Append message to the top of the list
    receive_message(message);
    // scroll top
    window.scrollBy(0, 10000000000);
  });

  entry_el.keypress((event) => {
    //When enter is pressed send input value to node server
    if(event.keyCode === 13 && !event.shiftKey) {
      event.preventDefault()
      send_message(event);
    }
  });

  btn_send.addEventListener("click", send_message, false);

  function send_message(event) {
    let exp = /.\S/i
    let msg = entry_el.val()
    let publishing = entry_el.data('id');
    if(exp.test(msg)){
       socket.emit('send_message', {'text': msg, 'publishing': publishing}, (data) => {
            console.log(data);
       });
       //Clear input value
       entry_el.val('');
    }
  }

  function receive_message(message) {
    let exp = {
      http: /(\b(https?|ftps?|git):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig,
      regx: /\B@[a-z0-9_-]+/gi,
      blank: /\r?\n/g,
    }

    text = message.text.replace(exp.regx, match => `<a href="/${match}">${match}</a>`)
                      .replace(exp.http, '<a href="$1" target="_blank">$1</a>')
                      .replace(exp.blank, '<br/>')

    $('#comments').prepend(`<article class="comment">
      <p class="username">
        <strong><a href="/@${message.user}">${message.user}</a></strong>
      </p>
      <p class="comment-text">
        ${text}
      </p>
      <p class="date comment-created">
        ${message.date}
      </p>
    </article>`);
  }
});
</script>
{% endblock %}
