{% extends "base.html" %}

{% load staticfiles %}

{% load mention %}

{% block title %}
  {{ object.text|truncatechars:30 }}
{% endblock %}

{% block content %}
<div class="content-flex">
  <section class="Description colum-2">
    <div class="header">
      <div class="username">
        {% if object.user.photo %}
          <span class="photo photo-small float-right" style="background-image: url('{{ object.user.photo.url }}')"></span>
        {% else %}
          <span class="photo photo-small float-right" style="background-image: url({% static "image/profile.jpg" %})"></span>
        {% endif %}
        <span><a href="{% url 'users:detail' object.user.username %}">{{ object.user.username }}</a></span>
      </div>
      <p class="date">
        {{ object.created_at }}
      </p>
    </div>
    <figure class="description-image">
      {% if object.photo %}
        <img src="{{ object.photo.url }}" alt="{{ object.text }}" width="420" />
      {% else %}
        <img src="http://placehold.it/400x300" alt="{{ object.text }}" width="420" height="480" />
      {% endif %}
    </figure>
    <p class="description-text">
      {{ object.text }}
    </p>
  </section>
  <section class="Comments colum-2">
    <div class="header">
      <div class="username">
        {% if request.user.photo %}
          <span class="photo photo-small float-right" style="background-image: url({{ request.user.photo.url }})"></span>
        {% else %}
          <span class="photo photo-small float-right" style="background-image: url({% static "image/profile.jpg" %})"></span>
        {% endif %}
        <span><a href="{% url 'users:detail' request.user.username %}">{{ request.user.username }}</a></span>
      </div>
    </div>
    <div class="comments-entry">
      <textarea data-id="{{ object.id }}" id="comment" name="comment" rows="2" cols="40"></textarea>
      <button class="btn btn-send" id="btn_send" type="button">Send</button>
    </div>
    <div class="comments-box" id="comments">
      {% for comment in comments %}
          <article class="comment">
            <p class="username">
              <strong><a href="{% url 'users:detail' comment.user.username %}">{{ comment.user }}</a></strong>
            </p>
            <p class="comment-text">
              {{ comment.text|mention|safe|urlize }}
            </p>
            <p class="date comment-created">
              {{ comment.created_at }}
            </p>
          </article>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}
