{% extends "base.html" %}

{% block title %}
  New Publishing
{% endblock %}

{% block content %}
<div class="content-flex box-shadow">
  <figure class="image data-theme colum-2">
    <figcaption class="float-right label">{{ object.created_at }}</figcaption>
    {% if object.photo %}
      <img src="{{ object.photo.url }}" alt="currently" width="420" />
    {% else %}
      <img src="http://placehold.it/400x300" alt="currently" width="420" height="480" />
    {% endif %}
  </figure>
  <form class="form  colum-2" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {% for error in field.errors %}
          <span class="error">{{ error }}</span>
        {% endfor %}
        {{ field }}
      </p>
    {% endfor %}
    <!-- <input type="file" name="photo" accept="image/*"> -->
    <button type="submit" class="btn btn-send">Publish</button>
  </form>
</div>
{% endblock %}
