.publishing
  // background-color #eee
  margin .5em 0 1.5em
  width 100%
  display inline-block
  a
    box-shadow black_border .1em .1em 2px
    display block
    padding .2em
    color black_title
    text-decoration none
    font-size 15px
    text-align justify

  img
    border-radius 2px
    width 100%

// publishing edit
#id_text
  height 18em
