{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
  </head>
  <body>
    <!-- nav bar -->
    <nav>
      <div class="Menu-container wrapper">
        <div class="Menu-left">
          <h1><a href="/">Photopublishings v0.1.0</a></h1>
        </div>

        <div class="show-mobile float-right">
          <a href="#show-menu" id="btn-menu"><i class="material-icons btn-menu">menu</i></a>
        </div>

        <ul class="Menu-right Menu-mobile" id="menu">
          <li class="item"><a href="/">Home</a></li>
          <li class="item"><a href="{% url 'publishings:create' %}">New Publishing</a></li>
          <div class="separator"></div>
          {% if request.user.is_staff %}
            <li class="item"><a href="/admin">Panel Admin</a></li>
          {% endif %}
          <li class="item"><a href="{% url 'auth:logout' %}">Logout</a></li>
          <li class="item userItem">
            <a href="/profile">
              <span>{{ request.user.username }}</span>
              {% if request.user.photo %}
                <span class="photo photo-small float-right" style="background-image: url({{ request.user.photo.url }})"></span>
              {% else %}
                <span class="photo photo-small float-right" style="background-image: url({% static "image/profile.jpg" %})"></span>
              {% endif %}
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- principal block -->
    <main class="wrapper">
      {% block content %}

      {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
      <p>
        Created for Moises De La Cruz
      </p>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
