{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Oleo+Script" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
  </head>
  <body>
    {% block main %}

    {% endblock %}

    <!-- Footer -->
    <footer>
      <p>
        Created for Moises De La Cruz
      </p>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "js/bundle.js" %}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
