{% extends "blank.html" %}

{% block title %}
  Login In
{% endblock %}

{% block main %}
<h1 class="title-logo center-text">Photopublishings</h1>
<div class="login">
  <section class="Box">
    <h2 class="title">Login</h2>
    <div class="box-content">
      <form class="form" method="post">
        {% csrf_token %}
        {% for field in form %}
          {{ field }}
          {{ field.errors }}
        {% endfor %}
        {% if form.non_field_errors %}
            <ul class="form-errors">
                {% for error in form.non_field_errors %}
                    <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <button type="submit" class="btn btn-send">Login</button>
        <p>
          if not has a account, <a href="{% url 'auth:signup' %}">sign up</a>
        </p>
      </form>
    </div>
  </section>
</div>
{% endblock %}
