{% extends "blank.html" %}

{% block title %}
{% if object.get_full_name %}
  {{ object.get_full_name|title }}
{% else %}
  {{ object.username }}
{% endif %}
{% endblock %}

{% block main %}
<h1 class="title-logo center-text">Photopublishings</h1>
<div class="login">
  <section class="Box">
    <h2 class="title">Register</h2>
    <div class="box-content">
      <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          {{ field }}
          {{ field.errors }}
        {% endfor %}
        <button type="submit" class="btn btn-send">Sign Up</button>
        <p>
          if already has a account, <a href="{% url 'auth:login' %}">Login</a>
        </p>
      </form>
    </div>
  </section>
</div>
{% endblock %}
