{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{% if object.get_full_name %}
  {{ object.get_full_name|title }}
{% else %}
  {{ object.username }}
{% endif %}
{% endblock %}

{% block content %}
<h2 class="title hide-mobile">
  {% if object.get_full_name %}
    {{ object.get_full_name|title }}
  {% else %}
    {{ object.username }}
  {% endif %}
</h2>
<div class="colum-2 content-flex box-shadow">
  <section class="colum-2">
    <h2 class="title center-text">Profile</h2>
    <figure class="border-dashed">
      {% if object.photo %}
        <span class="photo photo-median center" id="current_photo" style="background-image: url({{ object.photo.url }})"></span>
      {% else %}
        <span class="photo photo-median center" id="current_photo" style="background-image: url({% static "image/profile.jpg" %})"></span>
      {% endif %}
      {% if request.user == object %}
        <figcaption class="center-text"><a href="#photo" id="btn_change_image">Change Image</a></figcaption>
      {% endif %}
    </figure>
    <div class="data">
      <form class="profile-edit" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          <p class="{{ field.label }}">
            <span class="label">{{ field.label }}:</span> {{ field }}
          </p>
        {% endfor %}
        <button type="submit" class="btn btn-send center">Save Changes</button>
      </form>
    </div>
  </section>
</div>
{% endblock %}
