.Box
  background white
  border-radius 2px
  box-shadow black_border 0 1px 15px
  padding .2em
  margin .5em
  .title
    text-align center
    margin .5em 0
  .box-content
    text-align center
    padding .5em
