.form
  input
    display block
    margin .5em auto
    padding .8em
    border-radius 2px
    border 1px solid black_border
    color black_text
    width 80%
  button
    display block
    margin 0 auto
    width calc(80% + 1.5em)
  textarea
    border 1px solid black_border
    display block
    height 100px
    margin .5em auto
    width calc(80% + 1.4em)
  input#id_password
    display block
